@using Capstone.Web.Models;
@model Capstone.Web.Models.Tournament

@{}


@{
    ViewBag.Title = "Brackets";
}

<h2 class="text-center">First Round Brackets</h2>
<div style="margin-left: 50px;">

    @for (int i = 0; i < Model.Brackets.Length; i = i + 2)
    {
        <div class="outerBox">
            <span> </span>
            <div class="match">
                <div id="box_0" class="box even">
                    @Model.Brackets[i];
                </div>
                <hr style="margin:0px; padding:0px" />
                <div id="box_1" class="box odd">
                    @Model.Brackets[i + 1];
                </div>
            </div>
        </div>
    }

</div>

