@using Capstone.Web.Models;

@model List<Tournament>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Featured Tournaments</h1>
        </div>
    </div>
    @foreach (var Tournament in Model)
    {
        <div class="row" style="border-bottom: 1px solid grey; padding-bottom:10px; padding-top:10px;">
            <div class="col-md-3">
                <a href="google.com"><img src="~/Content/Images/Icon_Tournament.png" /></a>
            </div>
            <div class="col-md-9">
                <h2>@Tournament.Name </h2> <span>By @Tournament.OrganizerId</span>
                
                <p><strong>Start Date: @Tournament.StartDate.ToShortDateString()</strong></p>
                <p><strong>End Date: @Tournament.EndDate.ToShortDateString()</strong></p>
                <p>Tournament Description will go here  </p>
            </div>
        </div>
    }
    
</div>

