@{
    ViewBag.Title = "Brackets";
}
@using Capstone.Web.Models;
@model List<Match>

<h2 class="text-center">First Round Brackets</h2>
<div style="margin-left: 50px;">

    @foreach(var Match in Model )
    {
    <div class="outerBox">
        <span> </span>
        <div class="match">
            <div id="box_0" class="box even">
                @Match.competitorName
            </div>
            <hr style="margin:0px; padding:0px" />
            <div id="box_1" class="box even">
                
            </div>
        </div>
    </div>
    }

</div>

