
@{
    ViewBag.Title = "Tournament";
}

@using Capstone.Web.Models;

@model List<Tournament>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>BRACKET</h1>
            <p>Put the bracket here</p>
        </div>
    </div>
    @for (int i = 0; i < 5; i++)
    {
        <div class="row" style="border-bottom: 1px solid grey; padding-bottom:10px; padding-top:10px;">
            <div class="col-md-4">
                <a href="google.com"><img src="~/Content/Images/Icon_Tournament.png" /></a>
            </div>
            <div class="col-md-4">
                <h1>VS</h1>
            </div>
            <div class="col-md-4">
                <a href="google.com"><img src="~/Content/Images/Icon_Tournament.png" /></a>
            </div>
        </div>
    }

</div>

@using (Html.BeginForm("JoinTournament", "Tournament", FormMethod.Post))
{
        <button>Join This Tournament!</button>
}

